<!-- BANNER -->
<div id="id-banner" class="slider section">
    <ul class="slides white">
      {{#each silderElements as |element| }}
          <li>
              <img class="responsive-img" src={{ element.ImageUrl }}>

              <div class="caption center-align {{ element.textStyle }}">
                  <h3>{{element.Title}}</h3>
                  <h4>{{element.Description_line1}}</h4>
                  <h4>{{element.Description_line2}}</h4>
              </div>
          </li>
      {{/each}}
    </ul>
</div>
