{{!-- {{pure-html footer}} --}}
<footer class="page-footer grey lighten-5">
  <div class="container">
    <div class="row">
      {{!-- <div class="col l6 s12"> --}}
      <div class="{{footer.class_left}}">
        {{!-- <h4 class="black-text">Meble Sadowscy</h4>
        <h5>Tel: (+48) 787759659
        <br>E-mail: info@meblesadowscy.pl
      </h5></div> --}}
      {{{footer.content_left}}}
    </div>
      {{!-- <div class="col l4 offset-l2 s12"> --}}
      <div class="{{footer.class_right}}">
        {{!-- <p>
          <a href="https://www.facebook.com/Meble-Sadowscy-443663819159861/timeline?ref=page_internal">
            <span class="flow-text">Zobacz nas na</span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/50px-Facebook_icon.svg.png" height="50" width="50">
          </a>
        </p> --}}
          {{{footer.content_right}}}
      </div>
    </div>
    {{!-- <div class="row">{{md-dropdown}} </div> --}}
  </div>
  <div class="footer-copyright">
    <div class="container black-text darken-1-text">
      <div class="row">
        <div class="col l4">© 2014 - 2017 Copyright Meble Sadowscy &amp; Dawid Świst</div>
      </div>
    </div>
  </div>
</footer>
