<div class={{ classTypes }}>
    <div id={{ titleID }} class="section">
        <div class="row">
            <div class="col s12 center">
                <h4>{{ title }}</h4>
                <p class="left-align light">
                  {{#if imageUrl}}
                    <div class='col s4'>
                      <img src={{ imageUrl }} alt={{ imageAlt }} class="responsive-img">
                    </div>
                    <div class="col s8 article">{{{ body }}}</div>
                  {{else}}
                    <div class="col s12 article">{{{ body }}}</div>
                  {{/if}}
                </p>
            </div>
        </div>
    </div>
</div>
